/****************************************************
*	This CSS file centers the canvas in the middle	*
*	of the page and makes the background grey to 	*
*	see the canvas better							*
****************************************************/

body {
	background-color: #3F3F3F;
}

canvas {
	position: fixed;
	background-color: white;
	width: 1000px;
	height: 500px;
	top: 50%;
	margin-top: -250px;
	left: 50%;
	margin-left: -500px;
}